<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itext.licensekey" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>